body {
  background-image: url('./assets/bg-forest.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.boss {
  height: 30vh;
  max-width: 40vw;
  transform: translateY(-5rem);
}

.hero {
  max-height: 40vh;
  max-width: 40vw;
}

.sidekick {
  max-height: 20vh;
  transform: rotateY(180deg);
}

.shop-card {
  background-color: rgba(115, 244, 186, 0.514);
}